/* ==========================================================================
Author's custom styles
========================================================================== */

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html,body {
    font-size: 16px;
    font-size: 1rem;
    color: $darkColor;  
    background-color: $lightColor;
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2em;
    color: $klypColor;
}
h2 {
    font-size: 1.5em;
}
.row {

    margin:5px auto;
    background-color: $lightGreyColor;
}
header.row {
    background-color:transparent;
}
.columns {
    padding:10px;
    img {
        width: 100%;
    }
}
.red {
    background-color:$red;
}
.green {
    background-color:$green;
}
.yellow {
    background-color:$yellow;
}
.blue {
    background-color:$blue;
}
 